@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .heading_m {
    color:#333;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    font-display: swap;
  }

  .heading_s {
    color: var(--Dark-Grey, #333);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
    font-display: swap;

  }

  .body_m {
    color: var(--Dark-Grey, #333);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    font-display: swap;

  }

  .body_s {
    color: var(--Dark-Grey, #333);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 18px */
    font-display: swap;

  }
}